/* src/app/globals.css */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --color-cream: 255 251 245; /* #FFFBF5 */
  --color-brand-pink: 250 220 217; /* #FADCD9 */
  --color-brand-pink-dark: 248 200 195; /* #F8C8C3 */
  --color-brand-text: 92 75 75; /* #5C4B4B */
  --color-brand-text-light: 141 123 123; /* #8D7B7B */
  --color-brand-dark: 79 63 63; /* #4F3F3F */
}