@import "tailwindcss";

/* src/app/globals.css */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --color-cream: 255 251 245; /* #FFFBF5 */
  --color-brand-pink: 250 220 217; /* #FADCD9 */
  --color-brand-pink-dark: 248 200 195; /* #F8C8C3 */
  --color-brand-text: 92 75 75; /* #5C4B4B */
  --color-brand-text-light: 141 123 123; /* #8D7B7B */
  --color-brand-dark: 79 63 63; /* #4F3F3F */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .swiper-button-prev,
.swiper-button-next {
  color: #ffffff !important;
  transition: opacity 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.7;
} */

.swiper-pagination-bullet {
  background-color: #5C4B4B !important; /* Ganti ke warna brand-text */
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: #5C4B4B !important; /* Ganti ke warna brand-text */
  opacity: 1;
}


